{% extends 'layout.html' %}
{% set active_page = 'account' %}

{% block content %}
Account Page

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
    </div>
  </div>
   <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mb-2">
            <legend class = border-bottom mb-4>Change avatar</legend>
            <div class="form-group">
                {{ form.picture.label(class="form-control-label") }}
                {{ form.picture(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group mt-4">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
