{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
{% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d, %H:%M') }}</small>
        </div>
          <h2><div class="article-title">{{ post.title }}</div></h2>
        <p class="article-content">{{ post.description}}</p>
      </div>
    </article>
{% endfor %}
</form>
{% endblock %}
