{% extends 'layout.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
{% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h2><a href="{{url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a></h2>
          <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y %H:%M') }}</small>
        </div>
          <h2><div class="d-flex justify-content-center py-3">{{ post.title }}</div></h2>
          <p class="article-content">{{ post.description}}</p>
      </div>
      <img src="{{ url_for('static', filename='images/' + post.picture) }}",  width="500" ,height="600">
    </article>
  <br>
  <br>
{% endfor %}
</form>
{% endblock %}