<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='donkey.ico') }}"
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='donkey.ico') }}"
    type="image/x-icon">
    <title>
        {% if title %}
            I-flask/{{title}}
        {% else %}
           I-flask
        {% endif %}
    </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_for('home')}}" class="btn btn-outline-info" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{url_for('register')}}" class="btn btn-outline-info">Register</a></li>
        <li class="nav-item"><a href="{{url_for('login')}}" class="btn btn-outline-info">Login</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="btn btn-outline-info">About</a></li>
      </ul>

    </header>
<div class="d-flex justify-content-center py-3">
   {%block content %}{% endblock %}
</div  >
<footer class="d-flex justify-content-center py-3">
    This is footer
</footer>
</body>
</html>
