body {
  background-color: #fafafa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn-outline-info{
  color: #120707;
}

.bordered {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.content-section {
  padding: 15px;
}

.content-section img {
  border-radius: 10px;
}
