body {
  background-color: #fafafa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 560px;
  padding: 0 15px;
  box-sizing: border-box;
}

.btn-outline-info{
  color: #120707;
}

.bordered {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background-color: #FFFFFF
}

.account-img {
  height:85px;
  width: 85px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/***** section *****/

.content-section {
  padding: 15px;
  margin-bottom: 15px;
}

.content-section:last-child {
  margin-bottom: 0;
}

.content-section img {
  border-radius: 10px;
}

/***** section end *****/


/***** nav *****/

.nav-item-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  color: #000;
  transition: color 0.2s;
}

.nav-item-link.active,
.nav-item-link:hover {
  color: #0d6efd;
}

.nav-item-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  height: 1px;
  width: 0;
  background-color: #0d6efd;
  transition: width 0.2s;
}

.nav-item-link.active::before,
.nav-item-link:hover::before {
  width: 100%;
}

/***** nav end *****/


.form-control-file::-webkit-file-upload-button{
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: 7px 15px;
  background-color: #6c757d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.2s;
}

.form-control-file::-webkit-file-upload-button:hover{
  background-color: #5c636a;
}
